In [1]:
import pandas as pd
import numpy as np

from src.config import preference_rating_file, qn_model, models

In [2]:
df = pd.read_csv(preference_rating_file)
df['Algorithm'] = df['qn'].map(qn_model)
df['Algorithm'] = pd.Categorical(df['Algorithm'], categories=models, ordered=True)
df = df.sort_values(['Algorithm', 'user'])

mean_rating = df.groupby(['user', 'Algorithm'])['rating'].mean().reset_index()
ranking_table = mean_rating.pivot(index='user', columns='Algorithm', values='rating')
ranking_mean = np.array([np.array([1+sorted(i, reverse=True).index(x) for x in i]) for i in ranking_table.values]).mean(axis=0)

pd.DataFrame({'Algorithm': models, 'mean_ranking':ranking_mean})

   Algorithm  mean_ranking
0   Personal      1.895833
1  MixtureTW      1.437500
2        NMF      3.520833
3       FPMC      3.875000
4     SASRec      3.437500

In [3]:
pd.DataFrame({'Algorithm': models, 'mean_ranking':ranking_mean}).round(2)

   Algorithm  mean_ranking
0   Personal          1.90
1  MixtureTW          1.44
2        NMF          3.52
3       FPMC          3.88
4     SASRec          3.44